<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <title>Project List</title>
    </head>
    <header>
        <nav class="navbar navbar-light" style="background-color: #007bff;">
            <a class="navbar-brand mt-5" href="landing" style="position:fixed; margin-left:auto;">
                <img src="<%= user.picture %>" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
                <%= user.given_name %> <%= user.family_name %>
            </a>
        </nav>
        <h1 class="mt-5 mb-4" style="text-align:center">Previous Projects</h1>
    </header>
    <body>
        <form method="GET" action="/data_display" style="margin:auto; width:60%; height:10%">
            <input type="text" name="search" class="form-control mb-4" id="search-input" placeholder="Search for a project...">
            <button type="submit" class="btn btn-primary mr-sm-2" style="height:10%; display: inline-block">
                <i class="fas fa-search"></i>
            </button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/data_display'">Reset Results</button>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/project_upload'"> + Create New Project</button>
        </form>
        <% if (projects.length<=0) { %>
            <h4 class="d-flex justify-content-center mt-5" style="color:#525252">No results, press "Reset Results" to refresh the list of projects.</h3>
        <% } else { %>        
            <% projects.forEach(function(project) { %>
                <div class="card mt-4 p-3" style="width:60%; margin:auto">
                    <h4 class="card-title"><%= project.title %></h4>
                    <h5 class="card-subtitle mb-2">by <%= project.first_name %> <%= project.last_name %></h5>
                        <h6>Project Abstract:</h6>
                        <p class="card-text"><%= project.abstract %></p>
                        <p class="card-text border" style="color:#3c5360">Teacher Email: <%= project.teacher_email %></h6>
                        <p class="card-text">
                            <% if (project.tag_names!==null) { %>
                                Tags:
                              <% project.tag_names.trim().split(',').forEach(function(tag) { %>
                                <span class="badge badge-pill badge-primary mb-1" id="tag-badge"><%= tag %></span>
                              <% }); %>
                            <% } else { %>
                            <% } %>
                        </p>
                        <button onclick="downloadPDF()" class="btn btn-primary" style="width:20%">Download Paper</button>
                        <script>
                            function downloadPDF() {
                                fetch('/pdf')
                                .then(response => response.blob())
                                .then(pdfBuffer => {
                                    const url = URL.createObjectURL(pdfBuffer);
                                    const a = document.createElement('a');
                                    a.href = url;
                                    a.download = 'myfile.pdf';
                                    document.body.appendChild(a);
                                    a.click();
                                    document.body.removeChild(a);
                                })
                                .catch(error => console.error(error));
                            }
                        </script>        
                </div>
            <% }); %>
        <% }; %>
        <style>
            #tag-badge {
                color: #fff;
                background-color: #007bff;
                padding: 0.25em 0.4em;
                font-size: 75%;
                font-weight: 700;
                text-align: center;
                border-radius: 0.5rem;
                width:fit-content;
            }
        </style>
    </body>
</html>
